:root {
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 10px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray);
    margin: 0 3.2rem;
    position: relative;
}

.grid {
    max-width: 63.5rem;
    max-height: 47.5rem;
    font-family: 'Karla', sans-serif;
    background-color: white;
    border-radius: .8rem;
    box-shadow: 0 1.5rem 3rem rgba(0, 81, 171, 0.148847);
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
    margin-top: .1rem;
    transition: max-width .2s, max-height .2s ease;
}

.grid__join {
    min-height: 21.6rem;
    grid-column: span 2;
    padding: 4rem 4rem 4rem 4.02rem;
}

.grid__title {
    font-size: 2.4rem;
    letter-spacing: -0.012em;
    color: var(--cyan);
    margin-bottom: 2.4rem;
}

.grid__guarantee {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: calc(-0.022em / 1.8);
    color: var(--bright-yellow);
    margin-bottom: .9rem;
}

.grid__gain-access {
    font-size: 1.6rem;
    letter-spacing: -0.0098em;
    color: var(--grayish-blue);
    line-height: 1.625em;
}

.grid__subscription {
    min-height: 25.9rem;
    padding: 4rem 4rem 4rem 4.06rem;
    background-color: var(--cyan);
}

.grid__monthly {
    font-size: 1.8rem;
    letter-spacing: calc(-0.022em / 1.8);
    color: white;
    margin-bottom: 2.05rem;
}

.grid__money {
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: -0.0125em;
    line-height: 3rem;
    color: white;
    margin-bottom: .8rem;
    display: flex;
}

.grid__per-month {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: -0.0125em;
    color: rgba(255, 255, 255, .5);
    margin-left: .77em;
    vertical-align: middle;
    margin-top: .1rem;
}

.grid__full-access {
    font-size: 1.6rem;
    letter-spacing: -0.011em;
    color: white;
    margin-bottom: 3rem;
}

.grid__sign-up {
    all: unset;
    width: 100%;
    height: 4.8rem;
    background-color: var(--bright-yellow);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.0973011);
    color: white;
    text-align: center;
    font-size: 1.6rem;
    letter-spacing: 0.01em;
    border-radius: .5rem;
    cursor: pointer;
}

.grid__why-us {
    min-height: 25.9rem;
    padding: 4rem;
    background-color: #4ABEBD;
}

.grid__why-us-title {
    font-size: 1.8rem;
    letter-spacing: calc(-0.022em / 1.8);
    color: white;
    margin-bottom: 1.7rem;
}

.grid__reasons {
    font-size: 1.4rem;
    letter-spacing: calc(-0.016em / 1.4);
    color: rgba(255, 255, 255, .75);
    line-height: 2rem;
}

@media (max-width: 700px) {
    body {
        margin: 0 calc(32 / 375 * 100%);
    }

    .grid {
        max-width: 48rem;
        max-height: 70.2rem; /* for max-height transition to work */
        grid-template-columns: none;
        border-radius: .5rem;
        margin-top: -0.5rem;
    }

    .grid__join {
        min-height: 24.7rem;
        grid-column: auto;
        padding: 2.8rem 2.4rem 3.1rem;
    }

    .grid__title {
        font-size: 2rem;
        margin-bottom: 2.4rem;
    }

    .grid__guarantee {
        font-size: 1.5rem;
        margin-bottom: 1.7rem;
        line-height: 1.348em;
    }

    .grid__gain-access {
        font-size: 1.4rem;
        line-height: 1.85em;
    }

    .grid__subscription {
        min-height: 22.8rem;
        padding: 2.4rem;
    }

    .grid__monthly {
        margin-bottom: 2.1rem;
    }

    .grid__why-us {
        min-height: 22.7rem;
        padding: 2.4rem 2.4rem 2.3rem;
    }

    @media (max-width: 420px) {
        .grid {
            max-height: none;
        }
    }
}

.attribution {
    position: absolute;
    bottom: 1rem;
    font-size: 1.2rem;
    font-family: 'Karla', sans-serif;
    color: hsla(71, 0%, 45%, .5);
    text-align: center;
}

.attribution a {
    color: hsla(71, 0%, 45%, .5);
    transition: .09s;
    text-decoration: none;
}

.attribution a:hover {
    color: var(--cyan);
}

.attribution a:active {
    color: hsl(179, 47%, 52%);
}
